{% extends "base.html" %}

{% block content %}
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><b>E-Trade</b></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('trade') }}">Trade</a></li>
              <li><a href="{{ url_for('items') }}">Items</a></li>
              <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Log out</a></li>
          </ul>
        </div>

      </div>
  </nav>

<table class="table" style="width: 100%">
 {% with messages = get_flashed_messages() %}
    {% if messages %}
        <tbody>
        <tr class="bg-warning center">
            <td style="text-align: center">{{messages[0]}}</td>
        </tr>
        </tbody>
    {% endif %}
{% endwith %}
</table>



    <div class="container">
        <div class="panel-group">
            <h1>Profile</h1>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Name</b></div>
                <div class="panel-body">{{ user.name }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Surname</b></div>
                <div class="panel-body">{{ user.surname }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Email</b></div>
                <div class="panel-body">{{ user.email }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Balance</b></div>
                <div class="panel-body">${{ user.balance }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Items balance</b></div>
                <div class="panel-body">${{ user.items_balance }}</div>
            </div>
        </div>
    </div>



{% endblock %}