{% extends "base.html" %}

{% block content %}
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"><b>E-Trade</b></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('trade') }}">Trade</a></li>
              <li><a href="{{ url_for('items') }}">Items</a></li>
              <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Log out</a></li>
          </ul>
        </div>

      </div>
  </nav>

<div class="container">
 {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


    <div class="container">
        <div class="text-left">
            <ul>
                <li>Name: {{ user.name }}</li>
                <li>Surname: {{ user.surname }}</li>
                <li>Email: {{ user.email }}</li>
                <li>balance: ${{ user.balance }}</li>
                <li>items balance: ${{ user.items_balance }}</li>
            </ul>
        </div>
    </div>



{% endblock %}